@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div1 {
    width: 35%;
    min-height: 80vh;
    margin-left: 33em;
    margin-top: 6em;
    border: 5px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 13px 30px rgba(1, 1, 1, 0.363);
}
.div2 h2 {
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
    color: white;
    font-family: cursive;
}
.div3 {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    color: white;
}
.div4 {
    border-radius: 15px;
}